<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
        Лабораторная работа № 4
    </title>
    <link href="{{ url_for('static', filename='bootstrap.min.css')}}" rel="stylesheet" crossorigin="anonymous">
    <link href="{{ url_for('static', filename='style.css')}}" rel="stylesheet" crossorigin="anonymous">
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg bg-dark">
            <div class="container-fluid">
                <a class="navbar-brand text-white" href="{{ url_for('index') }}">Лабораторная работа № 4</a>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            {% if current_user.is_authenticated %}
                            <a class="nav-link text-white {% if request.endpoint == 'login' %}active{% endif %}"
                                href="{{ url_for('logout') }}">Выход</a>
                            {% else %}
                            <a class="nav-link text-white {% if request.endpoint == 'login' %}active{% endif %}"
                                href="{{ url_for('login') }}">Вход</a>
                            {% endif %}
                        </li>
                        {% if current_user.is_authenticated %}
                        <li class="nav-item">
                            <a class="nav-link text-white {% if request.endpoint == 'update_password' %}active{% endif %}"
                                href="{{ url_for('change_password') }}">Изменить пароль</a>
                        </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <main>
        <div class="container-fluid d-flex flex-column justify-content-center align-items-center h-100">
            {% with msgs = get_flashed_messages(with_categories = true) %}
            {% for category, msg in msgs %}
            <div class="alert alert-{{ category }} fade show position-fixed top-0" role="alert">
                {{ msg }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            {% endfor %}
            {% endwith %}
            {% block content %}
            <h1>Главная страница</h1>
            {% endblock %}
        </div>
    </main>

    <script src="{{ url_for('static', filename='bootstrap.bundle.min.js')}}" crossorigin="anonymous"></script>
</body>

</html>